// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
body
{
	background-color: #FBFBFB;
	color: black;
}

#main
{
	width: 700px;
	padding: 50px;
	border: 1px solid #EEEEEE;
	background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Oswald', sans-serif;
}

#header
{
	text-align: center;
}

.plan
{
	margin-top: 100px;
}

.plan .card
{
	width: 15rem;
}

.planImage
{
	height: 200px;
}

a:link
{
	text-decoration: none;
}

#planDescription
{
	margin-top: 50px;
}

#planTimeline
{
	margin-top: 100px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
{
	#headerTitle
	{
		padding-left: 75px;
	}	
	
	.plan .card
	{
		width: 20rem;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{
	
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{
	#main
	{
		
	}
	
	#header
	{
		text-align: left;
	}
	
	#headerTitle
	{
		padding-left: 125px;
	}
	
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{
	
}

