// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
body
{
	background-color: #FBFBFB;
	color: black;
}

#main
{
	padding: 50px;
	border: 1px solid #EEEEEE;
	width: 700px;
	background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Oswald', sans-serif;
}

.plan
{
	margin-top: 100px;
}

.plan .card
{
	width: 20rem;
}

.planImage
{
	height: 200px;
}

a:link
{
	text-decoration: none;
}

#headerTitle
{
	padding-left: 25px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
{
	
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{
	#headerTitle
	{
		padding-left: 125px;
	}
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{
	
}

